<div class="landing-page" [ngStyle]="bgStyles()">

  <!-- lang -->
  <div class="language" id="language" [ngStyle]="languageStyles()">
    <select class="form-control" title="language" name="language" id="lang-select" onchange="switchLanguage(this.value)">
      <option value='en' id='en'>English</option>
      <option value='el' id='el'>Greek</option>
    </select>
    <fa-icon [icon]="closeIcon" class="close-icon" id="close-lang" (click)="hideLanguage()" data-toggle="tooltip" data-placement="top" title="Remove Language Selection "> </fa-icon>
  </div>
  <fa-icon [icon]="plusIcon" id="plus-icon" (click)="displayLanguage() " data-toggle="tooltip" data-placement="top" title="Add Language Selection "> </fa-icon>
  
  <!-- font set-->
  <div class="font-face-set form-group col-6">
    <div class="label">
      <label for="font-family" (click)="displayFontForm()" data-toggle="tooltip" data-placement="top" title="Click to set Font Details ">Font family: 
        <fa-icon [icon]="editIcon" class="edit-icon" id="font-edit-icon"  data-toggle="tooltip" data-placement="top" > </fa-icon>
      </label>
    </div>
      
    <div class="form-details" id="font-face-form">
      <fa-icon [icon]="closeIcon" class="close-icon" id="close-font" style = "align-self: flex-end;" (click)="hideFontForm()" data-toggle="tooltip" data-placement="top" title="Close Fonts Form "> </fa-icon>
      <input
      type="text"
      class="form-control"
      id="font-family"
      [(ngModel)]="landingPage.fontFace.fontFamily"
      placeholder="font family, e.g. &quot;Arial&quot;"
      />
    </div>
  </div>
  <!-- background set -->
  <div class="bg-img-set form-group col-6">
    <div class="label">
      <label for="background" (click)="displayBgForm()" data-toggle="tooltip" data-placement="top" title="Click to set Background Image ">Background Image: 
        <fa-icon [icon]="editIcon" class="edit-icon" id="bg-edit-icon" (click)="displayBgForm()" data-toggle="tooltip" data-placement="top" > </fa-icon>
      </label>
    </div>
    <div class="form-details" id="bg-form">
      <fa-icon [icon]="closeIcon" class="close-icon" id="close-bg" (click)="hideBgForm()" data-toggle="tooltip" data-placement="top" title="Close Background Form"> </fa-icon>
      <input
        type="text"
        class="form-control"
        id="background"
        [(ngModel)]="landingPage.background"
        placeholder="background image URL"
      />
    </div>
  </div>
  <!-- logo-set -->
  <div class="" style="display: flex; align-items: center; margin: 1em 0 0 .5em; ">
    <label (click)="logoSpecs()">Logo image:
      <fa-icon [icon]="editIcon" class="edit-icon" id="edit-logo" [ngStyle]="editLogoStyles()" (onClick)="logoSpecs()" data-toggle="tooltip" data-placement="top" title="Add logo image specs ">sdfsadfasdf </fa-icon>
    </label>
    <mat-checkbox
    required
    [checked]="true"
    name="first-name"
    value="first-value"
    aria-label="First checkbox"
    [(ngModel)]= "isLogo"
    >
    </mat-checkbox>
  </div>  
  <!-- text-set -->
  <div class="text-set" style="display: flex; align-items: center; margin-left: .5em;">

    <label for="showText" (click)="textSpecs()">Display Text:
          <fa-icon [icon]="editIcon" class="edit-icon" (onClick)="textSpecs()" data-toggle="tooltip" data-placement="top" title="Add text specs "> </fa-icon>
        </label>
    
    <mat-checkbox
    required
    [checked]="true"
    name="first-name"
    value="first-value"
    aria-label="First checkbox"
    [(ngModel)]= "isText"
    >
    </mat-checkbox>
  </div>
  <!-- logo -->
  <div *ngIf="isLogo" class="row">
    <div class="logo col">
      <div class="venue-logo" [ngStyle]="logoStyles()">
      </div>
      <div *ngIf="isLogoSpecs">
        <!-- <attribute-setter (newItemEvent)="setClose($event)" ></attribute-setter> -->
        <div class="form-details form-group col-6" style="margin: 1em auto;">
          <fa-icon [icon]="closeIcon" class="close-icon" style = "display: block;" (click)="closeLogoDetails()" data-toggle="tooltip" data-placement="top" title="Close Logo Details"> </fa-icon>
          
          <label for="url">Logo Image Address: </label>
          <input
          type="url"
          class="form-control"
          [(ngModel)]="landingPage.logo.url"
          placeholder="https://www.mylogoimage.com/logo.jpg"
          />
          <label for="width">Width: </label>
          <input
          type="text"
          class="form-control"
          [(ngModel)]="landingPage.logo.width"
          placeholder="200px"
          />
          <label for="height">Heigth: </label>
          <input
          type="text"
          class="form-control"
          [(ngModel)]="landingPage.logo.height"
          placeholder="200px"
          />
        </div><!-- end of logo details -->
      </div><!-- end of isLogoSpecs -->

    </div>
  </div>

  <!-- text -->
  <div *ngIf="isText" class="row">
    <div class="col text-container">
      <div class="venue-text text-center" [ngStyle]="textStyles()">{{landingPage.text.content}}</div>
      <fa-icon [icon]="editIcon" class="edit-icon" (click)="textSpecs()" data-toggle="tooltip" data-placement="top" title="Add text specs "> </fa-icon>
    </div>
    <div *ngIf="isTextSpecs">
      <!-- <attribute-setter (newItemEvent)="setClose($event)" ></attribute-setter> -->
      <div class="form-details form-group col-6" style="margin: 1em auto;">
        <!-- <fa-icon [icon]="closeIcon" id="close-icon" style = "color : white" (click)="closeTextDetails()" data-toggle="tooltip" data-placement="top" title="Close Text Details"> </fa-icon> -->
        <fa-icon [icon]="closeIcon" class="close-icon" style = "display: block;" (click)="closeTextDetails()" data-toggle="tooltip" data-placement="top" title="Close Logo Details"> </fa-icon>
        <label for="display">Display Text: </label>  
        <label for="text">Text Content: </label>
          <textarea
            type="text"
            class="form-control"
            [(ngModel)]="landingPage.text.content"
            placeholder="Description text"
          ></textarea>
          <label for="width">Font Color: </label>
          <input
            type="text"
            class="form-control"
            [(ngModel)]="landingPage.text.color"
            placeholder="e.g. black or #000000 or rgb(0,0,0) or rgba(0,0,0, .5)"
          />
          <input type="color" id="textFontColor" name="head" [(ngModel)]="landingPage.text.color" value="#4fa0f0" placeholder="background color"><br>

          <label for="background_color">Background Color: </label>
          <input
            type="text"
            class="form-control"
            [(ngModel)]="landingPage.text.backgroundColor"
            placeholder="e.g. black or #000000 or rgb(0,0,0) or rgba(0,0,0, .5) " 
          />
          <input type="color" id="textBgColor" name="head" [(ngModel)]="landingPage.text.backgroundColor" value="#4fa0f0" placeholder="background color"><br>

          <label for="width">Width: </label>
          
      </div><!-- end of logo details -->
    </div><!-- end of Specs -->
  </div>
  
  
  <!-- buttons -->
  <div class="row" *ngFor="let button of landingPage.links; let indexOfelement=index ">
    <div class="col" id={{indexOfelement}}>
      {{indexOfelement}}
      <div class="venue-buttons" >
        <!-- <a href={{landingPage.link.url}} > -->
        <a href={{landingPage.link.url}} [ngStyle]="linkStyles()" >
          <!-- <button class="btn-undefined" > -->
          <button class="btn-undefined" [ngStyle]="linkButtonStyles()">
            <i class="bi bi-undefined"></i>
            <span>{{landingPage.link.button.text}}</span>
          </button>
        </a>
        <div class="link-options">
          <fa-icon [icon]="editIcon" class="edit-icon" (click)="linkSpecs()" data-toggle="tooltip" data-placement="top" title="Add link button specs "> </fa-icon>
          <fa-icon [icon]="plusIcon" id="add-btn-icon" (click)="addButton() " data-toggle="tooltip" data-placement="top" title="Add another Link Button"> </fa-icon>
        </div>
      </div><!--venue-buttons -->
      <div *ngIf="isLinkSpecs">
        <!-- <attribute-setter (newItemEvent)="setClose($event)" ></attribute-setter> -->
        <div class="form-details form-group col-6" style="margin: 1em auto;">
          <fa-icon [icon]="closeIcon" class="close-icon"  style = "display: block;" (click)="closeLinkDetails()" data-toggle="tooltip" data-placement="top" title="Close Link Details"> </fa-icon>
          <label for="url">Link Address: </label>
          <input
            type="url"
            class="form-control"
            [(ngModel)]="landingPage.links[indexOfelement].url"
            placeholder="https://www.myaddress.com/mylink"
          />
          <label for="width">Content text: </label>
          <input
            type="text"
            class="form-control"
            [(ngModel)]="landingPage.link.button.text"
            placeholder="My Link"
          />
          <label for="font color">Font Color: </label>
          <input
            type="text"
            class="form-control"
            [(ngModel)]="landingPage.link.button.color"
            placeholder="e.g. black or #000000 or rgb(0,0,0) or rgba(0,0,0, .5)"
          />            
            <input type="color" id="font" name="head" [(ngModel)]="landingPage.link.button.color" value="#4fa0f0" placeholder="background color"><br>

          <label for="background_color">Background Color: </label>
          <input
            type="text"
            class="form-control"
            [(ngModel)]="landingPage.link.button.bgColor"
            placeholder="e.g. black or #000000 or rgb(0,0,0, .5) or rgba(0,0,0, .5) " 
          />
          <input type="color" id="font" name="head" [(ngModel)]="landingPage.link.button.bgColor" value="#4fa0f0" placeholder="background color"><br>
          <label for="width">Width: </label>
          <input
            type="text"
            class="form-control"
            [(ngModel)] ="landingPage.link.width"
            placeholder="400px"
            />
        </div><!-- end of logo details -->
      </div><!-- end of Specs -->
    </div>
  </div>

<!-- text below -->
<!-- <div class="row">
  <div class="col text-container">
    <div class="venue-text-below"></div>
  </div>
</div> -->

<!-- <div style= "margin: 2em;" [innerHTML]="sanitizer.bypassSecurityTrustHtml(previewTemplate)"></div> -->


</div> <!-- end of landing-page -->