<div class="form-group col-6">
    <label for="logo">Logo Adress: </label>
    <input
      type="text"
      class="form-control"
      [(ngModel)]="landingPage.logo"
      (change)="updatePreviewTemplate()"
      placeholder="Logo"

      />
</div>
<div class="form-group col-6">
    <label for="logo">Background Image: </label>
    <input
      type="text"
      class="form-control"
      [(ngModel)]="landingPage.background"
      (change)="updatePreviewTemplate()"
      placeholder="Logo"

      />
</div>

<div class="form-group col-6">
    <label for="font">Font Details: </label>
    <input
      type="text"
      class="form-control"
      [(ngModel)]="landingPage.fontFace.fontFamily"
      (change)="updatePreviewTemplate()"
      placeholder="sans-serif"
      />
      <input
      type="text"
      class="form-control"
      [(ngModel)]="landingPage.fontFace.src"
      (change)="updatePreviewTemplate()"
      placeholder="source link"
      />
</div>

<div class="link-details">
  <label for="link">Link Details: </label>
  <input
    type="text"
    class="form-control"
    [(ngModel)]="landingPage.link.text"
    (change)="updatePreviewTemplate()"
    placeholder="Link inner text"
    />
  <input
    type="url"
    class="form-control"
    [(ngModel)]="landingPage.link.url"
    (change)="updatePreviewTemplate()"
    placeholder="link address"
    />
  <label for="bgColor">Background Color: </label>
  <input type="color" id="font" name="head"  value="#4fa0f0" placeholder="background color"><br>
  <label for="FontColor">Font Color: </label>
  <input type="color" id="head" name="head"  value="#ffffff" placeholder="font color"><br>
</div>

<div style= "margin: 2em;" [innerHTML]="sanitizer.bypassSecurityTrustHtml(previewTemplate)"></div>

